[mysqld]
character_set_server = utf8mb4
collation_server = utf8mb4_general_ci

# slow query
slow_query_log = ON
long_query_time = 1.0
slow_query_log_file = /var/log/slow.log

# performance
innodb_file_per_table = ON
